.container {
  background-color: pink;
}

.card__body {
  background-color: white;
  margin: 20px;
  height: 400px;
}
.msf__stepcontainer {
  display: flex;
}
.msf__navigation {
  display: flex;
}

.card__body__input {
  display: flex;
  flex-direction: column;
}

.card__body__checklist {
  display: flex;
}