
.container {
  background-color: pink;
}

.card__body {
  background-color: white;
  margin: 20px;
  padding: 40px;
  height: 100%;
  border-radius: 20px;
}
.msf__stepcontainer {
  display: flex;
  justify-content: center;
}

.msf__step {
  padding: 20px;
  margin:10px;
  border: solid 2px darkgray;
  border-radius: 50%;
}

.msf__navigation {
  display: flex;
  justify-content: space-between;
}

.card__body__input {
  display: flex;
  flex-direction: column;
}
.card__body__input {
  line-height:32px;
  padding: 0;
}

.card__body__input_label {
  padding: 20px 0 10px 0;
}

.card__body__checklist {
  display: flex;
}

.card__body__option {
  display: flex;
}

.card__body__options__toggle {
  display: flex;
}

